@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #ffe08a;
  --color-text: #ffffff;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black text-white font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-[--color-secondary];
  }
}

@layer base {
  *:not(.hero-blob) {
    border-radius: 0 !important;
    backdrop-filter: none !important;
  }
}

@layer components {
  .btn-caruso {
    @apply px-8 py-4 bg-secondary text-black font-bold uppercase tracking-[0.2em] text-xs transition-all duration-300 hover:bg-white hover:-translate-y-1 active:scale-95 flex items-center justify-center;
  }
}