---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Impressum">
    <main class="py-24 px-6 max-w-4xl mx-auto">
        <h1 class="text-4xl md:text-6xl mb-12 uppercase tracking-tighter">
            Impressum
        </h1>

        <div class="space-y-8 text-gray-300">
            <section>
                <h2 class="text-xl text-secondary mb-4 uppercase">
                    Angaben gemäß § 5 TMG
                </h2>
                <p>
                    Vincenzo Romano<br />
                    Cafe Caruso<br />
                    Lange Gasse 14<br />
                    73312 Geislingen an der Steige
                </p>
            </section>

            <section>
                <h2 class="text-xl text-secondary mb-4 uppercase">Kontakt</h2>
                <p>
                    Telefon: <a
                        href="tel:073319467928"
                        class="hover:text-secondary transition-colors underline decoration-secondary/30 underline-offset-4"
                        >07331 9467928</a
                    ><br />
                    E-Mail: <a
                        href="mailto:info@caruso-geislingen.de"
                        class="hover:text-secondary transition-colors underline decoration-secondary/30 underline-offset-4"
                        >info@caruso-geislingen.de</a
                    >
                </p>
            </section>

            <section>
                <h2 class="text-xl text-secondary mb-4 uppercase">
                    Projektumsetzung
                </h2>
                <p>
                    <a
                        href="https://kesking-design.de"
                        target="_blank"
                        class="hover:text-secondary transition-colors underline decoration-secondary/30 underline-offset-4"
                        >Kesking-Design</a
                    >
                </p>
            </section>

            <div class="pt-12">
                <a
                    href="/"
                    class="text-secondary hover:text-white transition-colors flex items-center gap-2"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                        ></path>
                    </svg>
                    Zurück zur Startseite
                </a>
            </div>
        </div>
    </main>
</Layout>
